:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.App {
min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
 background-image:url(https://t3.ftcdn.net/jpg/02/34/38/12/360_F_234381253_GT7XkYO7qsfGGINHVDDDBl1uOEVCi7zo.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Remove the background-color property to allow Bootstrap styles to take effect */
  /* background-color: #1a1a1a; */
  color: #fff;
  z-index: 9999;
}

.navbar a {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #535bf2;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* Remove the background-color property to allow Bootstrap styles to take effect */
  /* background-color: #1a1a1a; */
  color: #fff;
  padding: 0.5rem 0;
  width: 100%;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #535bf2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.card {
  width: 400px; /* Adjust the width as desired */
  height: 300px; /* Adjust the height as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-size-adjust: 2px;
}

.card img{
  background-size:inherit;
}

#search{
margin: 100px
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  width: 300px;
  margin: 10px;
  text-align: center;
}

.book-image {
  height: 400px;
  width: auto;
  object-fit: cover;
}
#book-description {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 15px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#book-description:hover {
  background-color: #444;
}

#book-description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #00c3ff, #0084ff);
  opacity: 0.5;
  z-index: -1;
  border-radius: 5px;
}

#book-details {
  margin-top: 50px;
}

#review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#review-form label {
  font-size: 16px;
  margin-bottom: 8px;
}

#review-form textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  resize: none;
  margin-bottom: 10px;
  font-size: 14px;
}

#review-form input[type="number"] {
  width: 50px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 14px;
}

#review-form button[type="submit"] {
  background-color: #fbbc05;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#review-form button[type="submit"]:hover {
  background-color: #ff9900;
}

.book-review {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-review p {
  margin-bottom: 8px;
  font-size: 14px;
}

.book-review button {
  background-color: #fbbc05;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.book-review button:hover {
  background-color: #ff9900;
}
.delete-button {
  background-color:#fbbc05;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.delete-button:hover {
  background-color: black;
}
