:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.App {
min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
 background-image:url(https://t3.ftcdn.net/jpg/02/34/38/12/360_F_234381253_GT7XkYO7qsfGGINHVDDDBl1uOEVCi7zo.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Remove the background-color property to allow Bootstrap styles to take effect */
  /* background-color: #1a1a1a; */
  color: #fff;
  z-index: 9999;
}

.navbar a {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #535bf2;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* Remove the background-color property to allow Bootstrap styles to take effect */
  /* background-color: #1a1a1a; */
  color: #fff;
  padding: 0.5rem 0;
  width: 100%;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #535bf2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.card {
  width: 400px; /* Adjust the width as desired */
  height: 300px; /* Adjust the height as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-size-adjust: 2px;
}

.card img{
  background-size:inherit;
}
